.container {
  padding: 0 20px;
  margin: 0 auto;
}



.table {
  margin: 0 auto;
  width: 100%;
  background: var(--bg-currency);
  color: var(--text-alternative);
  border-radius: 30px;
  border-collapse: collapse;
  overflow: hidden;
  text-align: left;
  background-image: url("../../assets/image/mountains.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;

  @media (min-width: 1200px) {
    width: 393px;
    height: 331px;
  }
}

.tableHead {
  font-family: "CirceBold";
  font-size: 18px;
}

.table>thead tr th {
  padding: 20px 0 16px 40px;
  background-color: var(--bg-icon);
}

.table>thead tr th:last-child {
  padding: 20px 30px 16px 40px;
}

.table>tbody tr td {
  padding: 20px 0 4px 0px;
  text-align: center;

}

.table>tbody tr:last-child td {
  padding-bottom: 52px;

  @media (min-width: 1200px) {
    padding: 12px 0 179px 0px;
    text-align: center;
  }
}