.balanceWrapper {
  margin: 0 auto;
  padding: 8px 0 11px 32px;
  background-color: var(--bg-alternative);
  border-radius: 30px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 420px;

  @media(min-width: 1200px) {
    padding: 0 0 0 20px;

  }
}

.title {
  margin-bottom: 12px;
  font-family: "CirceRegular";
  font-size: 12px;
  text-transform: uppercase;
  color: var(--text-third);
}

.text {
  font-family: "PoppinsBold";
  font-size: 30px;
  align-items: center;
  color: var(--text-primary);
}