input:focus {
	 outline: none;
}
 .overlay {
	 position: absolute;
	 top: 0%;
	 left: 0;
	 width: 100vw;
	 height: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 @media screen and (min-width: 768px) {
	 .overlay {
		 position: fixed;
		 top: 0;
		 width: 100vw;
		 height: 100%;
		 background: rgba(0, 0, 0, 0.25);
		 z-index: 1100;
	}
}
 .modal {
	 position: fixed;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 font-family: "CirceRegular";
	 font-style: normal;
	 padding: auto 20px;
	 width: 100vw;
	 border-radius: 20px;
	 z-index: 1110;
	 background-color: #fff;
	 height: 100%;
}
 @media screen and (min-width: 768px) {
	 .modal {
		 position: fixed;
		 padding: 40px 73px;
	}
}
 .modal__buttons {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 gap: 20px;
	 margin-top: 40px;
}
 .modal__title {
	 font-family: "PoppinsRegular";
	 font-style: normal;
	 font-weight: 400;
	 font-size: 30px;
	 line-height: 45px;
	 display: flex;
	 align-self: center;
	 margin-bottom: 42px;
}
 .modal__switch {
	 display: flex;
	 justify-content: center;
	 margin-bottom: 42px;
}
 .modal__switch p {
	 font-family: "CirceRegular";
	 font-style: normal;
	 font-weight: 700;
	 font-size: 16px;
	 line-height: 24px;
}
 .modal__switchFirstTextChecked {
	 color: #24cca7;
}
 .modal__switchSecondTextChecked {
	 color: #ff6596;
}
 .modal__switchTextNotChecked {
	 color: #e0e0e0;
}
 .modal__inputs {
	 margin-bottom: 40px;
	 font-weight: 700;
	 font-size: 18px;
	 line-height: 27px;
	 text-align: center;
	 display: flex;
	 flex-direction: column;
	 gap: 30px;
	 justify-content: space-between;
	 width: 100%;
}
 .modal__inputs ::placeholder {
	 color: #bdbdbd;
	 opacity: 1;
}
 @media screen and (min-width: 768px) {
	 .modal__inputs {
		 flex-direction: row;
	}
}
 .modal__input {
	 border: none;
	 border-bottom: 1px solid #e0e0e0;
	 width: 100%;
	 text-align: center;
}
 @media screen and (min-width: 768px) {
	 .modal__input {
		 width: 50%;
	}
}
 .modal__date {
	 border: none;
	 text-align: center;
	 width: 100%;
	 background-image: url(../../assets/icon/Calendar.svg);
	 background-repeat: no-repeat;
	 background-position: 95%;
	 background-size: contain;
}
 .modal__comment {
	 border: none;
	 border-bottom: 1px solid #e0e0e0;
	 margin-right: auto;
	 width: 100%;
}
 .modal__comment::placeholder {
	 color: #bdbdbd;
	 opacity: 1;
}
 @media screen and (min-width: 768px) {
	 .modal {
		 position: absolute;
		 left: 50%;
		 top: 50%;
		 transform: translate(-50%, -50%);
		 width: 540px;
		 height: 508px;
	}
}
 .addBtn, .cancelBtn {
	 font-weight: 400;
	 font-size: 18px;
	 line-height: 27px;
	 text-align: center;
	 letter-spacing: 0.1em;
	 text-transform: uppercase;
	 width: 300px;
	 height: 50px;
	 border-radius: 20px;
	 border: none;
	 cursor: pointer;
}
 .addBtn {
	 color: #fff;
	 background-color: #24cca7;
}
 .addBtn:hover {
	 background-color: #1c9c81;
}
 .cancelBtn {
	 box-sizing: border-box;
	 background: #fff;
	 border: 1px solid #4a56e2;
	 border-radius: 20px;
	 color: #4a56e2;
}
 .cancelBtn:hover {
	 background-color: #e72525;
	 color: #fff;
	 border: none;
}
 .closeBtn {
	 position: absolute;
	 top: 20px;
	 right: 20px;
	 cursor: pointer;
	 transition: all 1s;
}
 .closeBtn:hover {
	 transform: scale(1.2) rotate(90deg);
}
 @media screen and (max-width: 767px) {
	 .closeBtn {
		 display: none;
	}
}
 .switch {
	 position: relative;
	 display: inline-block;
	 width: 80px;
	 height: 40px;
	 margin-left: 20px;
	 margin-right: 20px;
}
 .switch input {
	 opacity: 0;
	 width: 0;
	 height: 0;
}
 .slider {
	 position: absolute;
	 top: -5px;
	 left: 0;
	 right: 0;
	 bottom: 5px;
	 -webkit-transition: 0.5s;
	 transition: 0.5s;
	 border-radius: 30px;
	 border: 1px solid #e0e0e0;
	 cursor: pointer;
}
 .slider:before {
	 content: "+";
	 position: absolute;
	 bottom: -2px;
	 left: -3px;
	 height: 44px;
	 width: 44px;
	 color: white;
	 background-color: #24cca7;
	 border-radius: 50%;
	 font-size: 30px;
	 font-weight: 100;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 -webkit-transition: 0.5s;
	 transition: 0.5s;
}
 .slidered {
	 position: absolute;
	 top: -5px;
	 left: 0;
	 right: 0;
	 bottom: 5px;
	 background-color: white;
	 border-radius: 30px;
	 border: 1px solid #e0e0e0;
	 -webkit-transition: 0.5s;
	 transition: 0.5s;
	 cursor: pointer;
}
 .slidered:before {
	 content: "\2212";
	 position: absolute;
	 bottom: -2px;
	 right: -3px;
	 width: 44px;
	 height: 44px;
	 color: white;
	 background-color: #ff6596;
	 font-size: 30px;
	 font-weight: 100;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 -webkit-transition: 0.5s;
	 transition: 0.5s;
	 border-radius: 50%;
}
 .selectWrapper {
	 width: 90%;
	 position: relative;
	 margin-bottom: 40px;
}
 .selectLabel {
	 font-size: 14px;
	 font-weight: bold;
	 margin-bottom: 8px;
}
 .selectContainer {
	 position: relative;
	 border: none;
	 border-bottom: 1px solid #e0e0e0;
	 width: 100%;
	 height: 32px;
	 display: flex;
	 align-items: center;
}
 .select {
	 border: none;
	 width: 100%;
	 height: 100%;
	 padding: 0 32px 0 8px;
	 font-size: 14px;
	 background-color: transparent;
	 appearance: none;
	 text-align: center;
}
 .selectIcon {
	 position: absolute;
	 top: 50%;
	 right: 8px;
	 transform: translateY(-50%);
	 font-size: 12px;
	 color: #000;
}
 