.dashboardWrapper {
  margin: 32px auto 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 768px;
}

.navSection {
  grid-area: 1 / 1 / 2 / 2;
}

.balanceSection {
  grid-area: 2 / 1 / 3 / 2;
  margin-bottom: 32px;
}


.currencySection {
  grid-area: 1 / 2 / 3 / 3;
  margin-bottom: 12px;

}

.transactionListSection {
  grid-area: 3 / 1 / 4 / 3;
}