.transactionGrid {
  position: relative;
  margin-bottom: 8px;
  background-color: var(--bg-alternative);
  border-radius: 10px;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 420px;
}

.transactionContainer {
  padding-bottom: 20px;
}
.income::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0;
  height: 100%;
  width: 5px;
  z-index: 0;
  border-radius: 5px;
  background-color: var(--btn-primary);
}

.expense::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0;
  height: 100%;
  width: 5px;
  z-index: 0;
  border-radius: 5px;
  background-color: var(--btn-alternative);
}

.transactionItem {
  position: relative;
  padding: 12px 20px 8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdf;
}

.title {
  font-family: "CirceBold";
  font-size: 18px;
}

.text {
  font-family: "CirceRegular";
  font-size: 16px;
}

.plus {
  color: var(--text-income);
  font-weight: 700;
}

.minus {
  color: var(--text-expense);
  font-weight: 700;
}
.btn {
  padding: 4px 12px;
  font-size: 14px;
  color: var(--text-alternative);
  background: var(--btn-primary);
  border-radius: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  transform: scale(1.05);
  background-color: var(--btn-alternative);
}

.icon {
  width: 10px;
  height: 10px;
  fill: currentColor;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper:hover,
.wrapper:focus {
  transform: scale(1.05);
  color: var(--text-income);
}
