.transactionGrid {
  position: relative;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.income::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0;
  height: 100%;
  width: 5px;
  z-index: 0;
  border-radius: 5px;
  background-color: #24cca7;
}

.expense::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0;
  height: 100%;
  width: 5px;
  z-index: 0;
  border-radius: 5px;
  background-color: #ff6596;
}

.transactionItem {
  position: relative;
  padding: 12px 20px 8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdf;
}

.title {
  font-family: "Circe";
  font-weight: 700;
  font-size: 18px;
}

.text {
  font-family: "Circe";
  font-size: 16px;
}

.plus {
  color: #24cca7;
  font-weight: 700;
}

.minus {
  color: #ff6596;
  font-weight: 700;
}
.btn {
  padding: 4px 12px;
  font-size: 14px;
  color: #ffffff;
  background: #24cca7;
  border-radius: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  transform: scale(1.05);
  background-color: #ff6596;
}

.icon {
  width: 10px;
  height: 10px;
  fill: currentColor;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper:hover,
.wrapper:focus {
  transform: scale(1.05);
  color: #24cca7;
}
