:root {
  /* Text Colors */
  --text-primary: #000000;
  --text-secondary: #bdbdbd;
  --text-third: #a6a6a6;
  --text-alternative: #ffffff;
  --text-blue: #4a56e2;
  --text-income: #24cca7;
  --text-expense: #ff6596;

  /* Background Colors */
  --bg-primary: #f3f2f2c7;
  --bg-secondary: #e5e5e5;
  --bg-alternative: #ffffff;
  --bg-dropdown: #ffffffb2;
  --bg-currency: #4a56e2;
  --bg-icon: #6e78e8;
  --bg-ellipse-one: #c5baff;
  --bg-ellipse-two: #ffd8d0;

  /* Button Colors */
  --btn-primary: #24cca7;
  --btn-secondary: #ffffff;
  --btn-alternative: #ff6596;

  /* Line Colors */
  --line-primary: #e0e0e0;
  --line-secondary: #4a56e2;

  /* Form Colors */
  --form-primary: #e0e0e0;
}
