.header {
	 position: fixed;
	 width: 100%;
	 height: 60px;
	 padding: 0px auto;
	 z-index: 1000;
	 background-color: #fff;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .header__logo {
	 position: absolute;
	 left: 20px;
	 top: 15px;
	 width: 120px;
	 height: 30px;
}
 .header__logout {
	 position: absolute;
	 right: 20px;
	 top: 18px;
	 min-width: 106px;
	 height: 24px;
	 display: flex;
	 justify-content: right;
	 align-items: center;
	 text-align: right;
}
 .header__logoutUsername {
	 font-family: "Circe";
	 font-style: normal;
	 font-weight: 400;
	 font-size: 18px;
	 line-height: 27px;
	 color: #bdbdbd;
	 margin-right: 8px;
}
 .header__logoutButton {
	 height: 18px;
	 width: 18px;
	 background: none;
	 border: none;
	 fill: #bdbdbd;
}
 .header__logoutButton:hover {
	 cursor: pointer;
	 fill: red;
}
 @media screen and (min-width: 768px) {
	 .header {
		 height: 80px;
	}
	 .header__logo {
		 width: 181px;
		 height: 40px;
		 left: 32px;
	}
}
 @media screen and (min-width: 1280px) {
	 .header__logo {
		 left: 32px;
	}
}
 .logo__svg {
	 width: 120px;
	 height: 30px;
}
 @media screen and (min-width: 768px) {
	 .logo__svg {
		 width: 181px;
		 height: 40px;
	}
}
 .logout__icon {
	 display: flex;
	 align-self: center;
	 justify-self: center;
	 width: 18px;
	 height: 18px;
}
 