.container {
  margin: 0 auto;
  padding: 0 117px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
}

.title {
  font-family: "PoppinsRegular";
  font-style: normal;
  font-size: 30px;
  line-height: 1.5;
}

.registerIcon {
  width: 248.12px;
  height: 250px;
}

.logoIcon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.logoBox {
  display: flex;
  justify-content: center;
}

.logo {
  font-family: "PoppinsBold";
  font-style: normal;
  font-size: 30px;
  line-height: 1.5;
  color: var(--text-primary);
}

.formBox {
  background-color: var(--bg-alternative);
  width: 100%;
  max-width: 533px;
  border-radius: 20px;
  padding: 40px 58.5px 62px 65px;
}

.link {
  font-family: "CirceRegular";
  text-transform: uppercase;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--text-blue);
  background-color: var(--btn-secondary);
}

.nav {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid var(--line-secondary);
  padding: 13px 71px;
  margin-top: 20px;
  margin-left: 55px;
  margin-right: 55px;
}
