.registerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.iconEmail {
  width: 20px;
  height: 16px;
}

.iconPadlock {
  width: 16px;
  height: 21px;
}

.registerButton {
  font-family: "CirceRegular";
  text-transform: uppercase;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--text-alternative);
  background-color: var(--btn-primary);
  border-radius: 20px;
  border: none;
  padding: 13px 61px;
  margin-top: 53px;
  @media screen and (min-width: 768px) {
    margin-left: 54px;
    margin-right: 55.5px;
  }
}

.button {
  font-family: "CirceRegular";
  text-transform: uppercase;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--text-blue);
  background-color: var(--btn-secondary);
  border-radius: 20px;
  border: 1px solid var(--line-secondary);
  padding: 13px 71px;
  min-width: 301px;
  max-width: 732px;
  width: 100%;
  margin-top: 20px;
  margin-left: 55px;
  margin-right: 55px;
  /* position: relative; */
}
