.icon {
  width: 18px;
  height: 9px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper {
  padding: 12px 40px 12px 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
  border: 1px solid #000000;
  border-radius: 30px;
  cursor: pointer;
}

.grid {
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 110%;
  width: 100%;
  background: var(--bg-primary);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  transform: translateY(0);
  opacity: 1;
  z-index: 2;
  transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 800ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item {
  padding: 2px 0;
  padding-left: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover,
.item:focus {
  background: var(--bg-dropdown);
}

.item:first-child {
  padding-top: 12px;
}

.item:last-child {
  padding-bottom: 12px;
}

.hidden {
  transform: translateY(-120%);
  visibility: hidden;
  opacity: 0;
}

.up {
  transform: rotate(-180deg);
}
